.block{
  /* TODO через те, що дефолтний колір тексту чорний, то він повністю 
    зливається з фоном. Давай змінимо або колір фону, або колір тексту
  */
    background-color: rgb(0, 0, 0);
    /* TODO зазвичай ми не обмежуємо блоки по висоті оскільки не знаємо скільки саме
      контенту в ньому буде
    */
    height: 500px;
    width: 500px;
    border-radius: 20px;
    /* TODO: для чого тут використувуємо  position: relative? */
    position: relative;
}
.p1{
    font-size: 40px;
    margin-left: 25%;
}
.p2{
    font-size: 20px;
    margin: 10px;
}

.play{
    display: flex;
    justify-content: space-between;
}
.knopka{
    width: 150px;
    /* TODO: тут схожа ситуація як і з елементом з класом .block. 
      Не видно чорний текст на чорному фоні. В інпуті також.
    */
    background-color: black;
    border-radius: 20px;
    border: solid 2px rgb(68, 222, 239);
    font-size: 30px;
}
.input{
    width: 180px;
    background-color: black;
    border-radius: 20px;
    border: solid 2px rgb(68, 222, 239);
    text-align: center;
    font-size: 30px;
    outline: none;
}

.red{
    background-color: red;
}
.green{
    background-color: rgb(14, 244, 25);
}
.redText{
    color: red;
}
.greenText{
    color: rgb(14, 244, 25);
}